/* ======================================
  Geral
=========================================*/
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 14;
  background: #ddd;
  margin-bottom: 1rem;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box-content {
  width: 100%;
  margin-top: 1rem;
  padding: 2rem;
  background: #fff;
  border-right: 1rem solid #ddd;
}
.box-content:last-child {
  border-right: 0;
}
.border-b-default {
  position: relative;
  padding-bottom: 10px;
}
.border-b-default:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #9b272a;
  bottom: 0px;
}
.border-b-info-card:before {
  width: 90%;
}
.margin-b-10 {
  margin-bottom: 10px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-t-10 {
  margin-top: 10px;
}
.margin-t-20 {
  margin-top: 20px;
}
.padding-0 {
  padding: 0;
}
.padding-r-0 {
  padding-right: 0;
}
.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}
.bonus-description {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.link {
  color: #9b272a;
  padding: 5px;
  border: 1px solid;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.link-block {
  display: block;
}
.pull-right {
  float: right;
}
.show-mobile {
  display: none;
}
.flex {
  display: flex;
  width: 100%;
}
/* ======================================
  Aliamentos
=========================================*/
.aling-item-center {
  align-items: center;
}
.aling-item-end {
  align-items: flex-end;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
/* ======================================
  Texto
=========================================*/
.title-plan {
  border-bottom: 1px solid #9b272a;
  padding-bottom: 10px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.text-uppercase {
  text-transform: uppercase;
}
.fz-10 {
  font-size: 10px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 100;
  margin: 0;
}
.main-title {
  font-size: 1.6em;
  margin-bottom: 20px;
}
label.obs{
  color: #AAA;
}
.obs a,
.obs a:active,
.obs a:focus {
  color: #000;
}
.obs a:hover {
  text-decoration: none;
}
.description,
.obs {
  font-size: 12px;
  line-height: 14px;
  display: block;
}
.obs strong {
  font-weight: 800;
  color: #9b272a;
}
/* ======================================
  Form
=========================================*/
.label {
  display: block;
  font-size: 0.7em;
  margin-bottom: 5px;
}

.input-default {
  background: transparent;
  border: 0;
  width: 100%;
  font-size: 1em;
}
.input {
  border: 1px solid #9b272a;
  padding: 5px 10px;
  width: 100%;
}
.input-default:focus,
.input:focus {
  outline: none;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  margin-top: -1px;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #9b272a;
  cursor: pointer;
}
input[type='checkbox']:checked + label span {
  background: #9b272a;
}
.btn {
  border: 1px solid ;
  padding: 5px 10px;
  text-align: center;
  color: #9b272a;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.btn.active {
  background: #9b272a;
  color: #FFF;
  border: 0;
}
.btn-block {
  display: block;
}
/* ======================================
  Mobile
=========================================*/
@media  (min-width: 320px) and (max-width: 768px) {
  .container-fluid {
    padding: 0;
  }
  .box-content {
    margin: 1rem 1rem 0 2rem;
    border-right: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .main-title {
    font-weight: 800;
  }
  .hidden-mobile,
  .plan {
    display: none;
  }
  .plan:first-child,
  .show-mobile {
    display: block;
  }
  .show-mobile {
    width: 100%;
    padding-right: 10px;
  }
  .content-plans,
  .content-bonus-description {
    justify-content: space-between;
  }
  .btn {
    font-size: 12px;
  }
}
